<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
<script src="/app.js"></script>
<style>
	body { margin: 0; padding: 0; }
	#map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
</head>
  

<body>
    <nav class="navbar-super-awesome-but-crappy-nav-bar">
      <img 
        width="50"
        id="genericTravelPic"
        src="public/images/denise-jans-IJy2ZUex0-Y-unsplash.jpg"
        alt=""
      />

<a class="navbar-brand" href="/">TRIPLYNX</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logs/new">Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logs">My Travel Logs Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">My Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users">User List</a>
          </li>
          <li class="nav-item">
            <!-- 'From hell's heart I stab at thee; for hate's sake I spit my last breath at thee.' - Captain Ahab. /places is to White Whale as Captain Ahab is to me.  -->
            <a class="nav-link" href="/places">Map</a>
          </li>
        </li>
        <li class="nav-item">
          <img id="avatarPhoto" height="50" src="<%= user.avatar %>" alt="" />
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Log Out</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/google">Login with Google</a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
  </body>
</html>
