<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Visited Places</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
<link href=’https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel=’stylesheet’ />
    


    <title><%= title %></title>
  </head>
  <body>
    <nav>
    <ul>
        <a href="/">HOME</a>
        <a href="/logs/new" <%- title === 'New Log Entry' ? 'class="active"' : '' %>>ADD NEW ENTRY</a>
        <a href="/logs" <%- title === 'All Trips' ? 'class="active"' : '' %>>ALL TRAVEL LOGS</a>
        <a href="/places/" <%- title === '' ? 'class="active"' : '' %>>MAP</a>
    </ul>
      <ul>
        <% if (user) { %>
        <li>
          <a href="/auth/logout">Log Out</a>
        </li>
        <% } else { %>
        <li>
          <a href="/auth/google">Login with Google</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
