<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css"
      rel="stylesheet"
    />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>

    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/     mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
      type="text/css"
    />
    

    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css"
      type="text/css"
    />

    <title><%= title %></title>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li>
          <a href="/auth/logout">Log Out</a>
        </li>
        <% } else { %>
        <li>
          <a href="/auth/google">Login with Google</a>
        </li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
