body > nav {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

.nav {
  
  display: flexbox;
}

#avatarPhoto {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 75px;
  width: 100px;
}

.bg-light {
justify-content: flex-end;
}

